.vertical-align-section {
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

#passwordForm{
  background: #00675b;
  width: 30em;
  padding: 1em 2em 1em 2em;
  text-align: center;
}

.input-validation-true{
    background: #66c063;
    transition-delay: 1s;
}

.input-validation-false{

}
.input-validation-default{

}

body{
  background-image: url("/res/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #f1f1f1;
}

label{
  color: white;
  font-weight: bold;
}

.btn{
  color: black;
}

pre{
  background-color: whitesmoke;
}
